<div class="depot_form">
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>
  <%= form_tag do %>
    <fieldset>
      <legend>Будь-ласка, ввійдіть в систему</legend>
      <div>
        <%= label_tag :name, "Ім'я:" %>
        <%= text_field_tag :name, params[:name] %>
      </div>
      <div>
        <%= label_tag :password, 'Пароль:' %>
        <%= password_field_tag :password, params[:password] %>
      </div>
      <div>
        <%= submit_tag "Увійти" %>
      </div>
    </fieldset>
  <% end %>
</div>
