<p id="notice"><%= notice %></p>

<p>
  <strong>Ім'я:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Адреса:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Метод оплати:</strong>
  <%= @order.pay_type %>
</p>

<%= link_to 'Редагувати', edit_order_path(@order) %> |
<%= link_to 'Назад', orders_path %>
