
<h1>Декоративні свічки на замовлення +38(067)60-60-195</h1>

<li><%= link_to "Контакти", contact_path, class: "btn btn-large btn-primary" %></li>

<p>В обрядах і звичаях українців споконвіку важливу роль відігравала воскова свічка. Воскова свічка супроводжувала людину все життя. 
При запаленій свічці народжувалися, одружувалися, йшли в небуття… 
Без воскових свічок не обходилось жодне обрядодійство.
Позитивний вплив воскової свічки відомий давно у всьому світі. Вона подарує теплий аромат меду, зігріє, додасть сил, запалить в душі радість і принесе в оселю гармонію та спокій. 
Свічка є прадавнім джерелом світла. Вона для нас такий же невід'ємний атрибут інтер'єру, як листівка на день народження. Мабуть, немає більш універсального і в той же час романтичного і індивідуального дарунку, ніж сувенірна свічка. 
Ароматні воскові свічки є відмінним подарунком, коли у Вас є бажання подарувати близькій людині тепло і затишок Вашого серця.
Живе полум'я свічки очищує повітря від шкідливих мікрочастин (пилу, бактерій та вірусів), а натуральні рослинні компоненти, сконцентровані у воску, поширюються в приміщенні, наповнюючи його позитивним впливом.
Коли горить воскова свічка, вона створює гарну обстановку для спілкування з рідними та близькими. 
Віск — унікальний природний матеріал, що володіє рядом особливостей. Перш за все, віск, подібно до води, легко вбирає і записує в своїй структурі інформацію. Ця його властивість дозволяє створювати свічки з цілеспрямованою дією. Тому важливо на родинні свята запалювати воскові свічки, щоб всі побажання акумулювались і здійснювались в наступному році.
Корисна порада: щодня на 10-15 хвилин запаліть у своїй оселі чи то в офісі воскову свічку і простір навколо Вас наповниться благодаттю та гармонією. А особливо зробіть це при зустрічі гостей, буде приємно та радісно.
Потрібно пам'ятати, що запаленій свічці потрібен догляд! Перед тим, як запалити, встановіть на її підсвічник або іншу поверхню, яка не є легкозаймистою. Під час горіння свічки не рекомендується переміщувати її. Свічка повинна знаходитись на безпечній відстані від легкозаймистих предметів. Не забудьте загасити свічку! 
І нехай Ваше життя буде світлим та радісним,
як воскова свічка!</p>




<%= link_to image_tag("1.jpg", size: "200x300", alt: "Candle"), 'http://rubyonrails.org/' %>
<%= link_to image_tag("2.jpg", size: "200x300", alt: "Candle") %>

<%= link_to image_tag("3.jpg", size: "300x200", alt: "Candle") %>

<%= link_to image_tag("4.jpg", size: "300x200", alt: "Candle") %>

<%= link_to image_tag("5.jpg", size: "200x300", alt: "Candle") %>

<%= link_to image_tag("6.jpg", size: "200x300", alt: "Candle") %>