<p id="notice"><%= notice %></p>

<p>
  <strong>Назва:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Опис:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Посилання на зображення url:</strong>
  <%= image_tag @product.image.url, height: 200 %>
</p>

<p>
  <strong>Мова:</strong>
  <%= @product.locale %>
</p>

<p>
  <strong>Ціна:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Редагувати', edit_product_path(@product) %> |
<%= link_to 'Назад', products_path %>
