<p id="notice"><%= notice %></p>

<h1>Список товарних позицій</h1>

<table>
  <thead>
    <tr>
      <th>Продуктова</th>
      <th>Корзина</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @line_items.each do |line_item| %>
      <tr>
        <td><%= line_item.product %></td>
        <td><%= line_item.cart %></td>
        <td><%= link_to 'Показати', line_item %></td>
        <td><%= link_to 'Редагувати', edit_line_item_path(line_item) %></td>
        <td><%= link_to 'Видалити', line_item, method: :delete, data: { confirm: 'Ви впевнені?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Нова товарна позиція', new_line_item_path %>
