<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<% if @visitings > 4 %>
<span class="price">Ви відвідали цю сторінку <%=pluralize(@visitings, 'time')%></span>
<% end %>

<h1><%= t('.title_html') %></h1>
<!-- END_HIGHLIGHT -->
<% cache ['store', Product.where(locale: I18n.locale)] do %>
  <% @products.each do |product| %>
    <% cache ['entry', product] do %>
      <div class="entry">
        <%= image_tag product.image.url %>
        <h3><%= product.title %></h3>
        <h3><%= product.locale %></h3>
        <%= sanitize(product.description) %>
        <div class="price_line">
          <span class="price"><%= number_to_currency(product.price) %></span>
<!-- START_HIGHLIGHT -->
          <%= button_to t('.add_html'), line_items_path(product_id: product),
# END_HIGHLIGHT
            remote: true %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
