<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<% if @visitings > 4 %>
<span class="price">Ви відвідали цю сторінку <%=pluralize(@visitings, 'time')%></span>
<% end %>
<%= @sections %>

<%= form_tag(:action => :index)  do %>
  <%= select_tag  "section",  options_for_select(@sections, selected: params[:section]), include_blank: "Усі", onchange: 'this.form.submit()', class: "btn btn-large btn-primary"  %>
  
<% end %>



<h1><%= t('.title_html') %></h1>
<!-- END_HIGHLIGHT -->

  <% @products.each do |product| %>

      <div class="entry">
        <%= link_to(image_tag(product.image.thumb('200x200').url), image_path(product.image.url),  class: 'image-popup-vertical-fit')%>
        <h3><%= product.title %></h3>
        <h3><%= product.section %></h3>
        <%= sanitize(product.description) %>
        <div class="price_line">
          <span class="price"><%= number_to_currency(product.price) %></span>
<!-- START_HIGHLIGHT -->
          <%= button_to t('.add_html'), line_items_path(product_id: product),
# END_HIGHLIGHT
            remote: true, class: "btn btn-large btn-primary" %>
        </div>
      </div>
 
  <% end %>
  
<%= will_paginate  @products %>
